/* PAGE SETUP */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.left-body {
    background-image: url("assets/salad.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 33vw;
    height: 100vh;
}

.right-body {
    background-color: rgb(239, 239, 239);
    width: 67vw;
    display: flex;
    flex-direction: column;
}

.info-banner,
.login-section,
.button-section,
form {
    padding-left: 50px;
    padding-right: 200px;
}

.info-banner {
    padding-top: 90px;
    padding-bottom: 40px;
}

#photo-credit {
    color: white;
    font-size: 0.7rem;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 60vh; 
    text-align: center;
}

/* LOGO */

h1 {
    font-family: 'Yrsa', serif;
    color: white;
    font-size: 2.5rem;
}

#barn {
    width: 15%;
    margin-right: 15px;
    min-width: 50px;
}

.banner {
    background-color: rgba(67, 67, 67, 0.6);
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* FORM STYLING */

form {
    background-color: white;
    box-shadow: 3px 3px 3px #c2c2c2;
}

input {
    box-sizing: border-box; 
    min-width: 150px;
    border: #E5E7EB solid;
    border-radius: 4px;
    height: 1.5rem;
    padding: 0 8px;
} 

 input:focus {
    box-shadow: 3px 3px 3px #c2c2c2;
} 

ul {
    width: 100%;
}

ul li {
    width: 40%;
    display: inline-block;
    padding-top: 15px;
}

li:nth-child(odd) {
    padding-right: 50px;
}

ul li > * {
    width: 100%;
}

.input-area {
    padding: 20px 0;
}

label {
    font-size: 0.7rem;
}

.error {
    border: red solid;
}

.error-msg {
    color: red;
    font-size: 0.6rem;
    position: absolute;
}

/* BUTTON STYLING */

button {
  background-color: #596D48; /* Green */
  border: none;
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #c2c2c2;
  margin-top: 30px;
}

/* LOGIN SECTION STYLING */

.login-section {
    font-weight: 400px;
    font-size: 0.9rem;
    margin-top: 30px;
}

a {
    color: #596D48;
}